 :root {
    --bg: #C62828;
    --primary: #F9D342;
    --secondary: #ffffff;
 }

 * {
    margin: 0;
    padding: 0;
    border: none;
    font-style: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
 }

 html {
  scroll-behavior: smooth;
 }

 body {
    font-family: 'poppins', sans-serif;
    background-color: #faeeee;
 }

 .navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1.5rem 5%;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    /* border-bottom: 1px solid var(--primary); */
    z-index: 99;
    background-color: var(--bg);
 }

 .navbar .nav-menu {
    margin-left: auto;
 }

 .navbar .nav-logo a {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--secondary);
 }

 .navbar .nav-menu a {
    display: inline-block;
    margin-left: 3rem;
    font-size: 0.9rem;
    font-family: 500;
    color: var(--secondary);
    /* border-radius: 15px; */
    transition: 0.3s ease;
 }

 .navbar .nav-menu .menu:hover {
    /* background-color: var(--primary); */
    color: var(--primary);
    /* padding: 10px 15px; */
 }

 .navbar .nav-menu .close {
    color: var(--secondary);
    display: none;
 }

 .navbar .nav-menu .close:hover {
    color: var(--primary);
 }

 .navbar .nav-extra a {
    color: var(--secondary);
    transform: 0.3s ease;
    display: none;
 }

 .navbar .nav-extra a:hover {
    color: var(--primary);
 }

 /* hero section */
 .hero {
   padding: 8rem 5% 1.5rem;
   display: flex;
   justify-content: space-between;
   background-color: var(--bg);
   height: 100vh;
 }

 .hero .hero-grub {
   padding-top: 2.5rem;
   max-width: 30rem;
   opacity: 0;
   transform: translateX(-50px);
   animation: fadeUp 1.5s forwards;
 }

 @keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateX(0);
  }
 }

 .hero .hero-img img {
   height:auto;
   width: 400px;
   opacity: 0;
   transform: translateX(50px);
   animation: kanan 1.5s forwards;
 }

 @keyframes kanan {
  to {
    opacity: 1;
    transform: translateX(0);
  }
 }

 .hero .hero-grub .hero-tagline {
   font-family: 'miniver', sans-serif;
   font-size: 1.5rem;
   font-weight: medium;
   padding-bottom: 0.5rem;
   color: var(--primary);
 }

 .hero .hero-grub h3 {
   font-size: 2rem;
   font-weight: 700;
   color: var(--secondary);
   padding-bottom: 0.5rem;
 }

 .hero .hero-grub .hero-detail {
   font-size: 0.95rem;
   font-weight: 200;
   color: var(--secondary);
   padding-bottom: 0.5rem;
 }

 .hero .hero-grub .grub-cta {
   display: flex;
   gap: 2rem;
 }

 .hero .hero-grub .grub-cta .order {
   background-color: var(--primary);
   border-radius: 15px;
   border: 1px solid var(--secondary);
   padding: 0.7rem 0.8rem;
   font-size: 0.9rem;
   font-weight: medium;
   color: var(--bg);
   margin-top: 1rem;
   transition: 0.3s ease;
 }

 .hero .hero-grub .grub-cta .order:hover {
    background-color: transparent;
    color: var(--secondary);
 }

 .hero .hero-grub .grub-cta .phone {
   background-color: transparent;
   border-radius: 15px;
   border: 1px solid var(--secondary);
   padding: 0.7rem 0.8rem;
   font-size: 0.9rem;
   font-weight: medium;
   color: var(--secondary);
   margin-top: 1rem;
   transition: 0.3s ease;
 }

 .hero .hero-grub .grub-cta .phone:hover {
   background-color: var(--primary);
   color: var(--bg);
 }

 /* about section */
 .about {
  display: flex;
  justify-content: center;
  padding: 8rem 5% 1.5rem;
  gap: 5rem;
 }

 .about  img {
  height: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
 }

 .about .about-detail {
  text-align: center;
 }

 .about .about-detail h3, .kontak h3 {
  font-size: 1.5rem;
  padding-bottom: 4rem;
 }

 .about .about-detail h3::after, .galeri h3::after, .kontak h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--primary);
  border-radius: 20px;
  margin: 10px auto 0;
 }

 .about .about-detail .paraf-1 {
  font-size: 1rem;
  font-weight: 300;
  max-width: 50rem;
 }

 .about .about-detail .about-extra {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
 }

 .about .about-detail .about-extra a {
  color: rgb(37, 36, 36);
  transition: 0.3s ease;
 }

 .about .about-detail .about-extra a:hover {
  color: #9e8316;
 }

 /* menu section */
 .section-menu {
  padding: 8rem 5% 1.5rem;
  background-color: #363635;
  height: 195vh;
  width: 100%;
  margin-top: 5rem;
 }

 .section-menu h3 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 4rem;
  color: var(--secondary);
 }

 .section-menu h3::after {
  content: "";
  height: 4px;
  width: 80px;
  display: block;
  background-color: var(--primary);
  border-radius: 20px;
  margin: 10px auto 0;
 }

 .section-menu .daftar-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
 }

 .section-menu .daftar-menu .daftar-detail {
  text-align: center;
  max-width: 300px;
  flex: 1 1 200px;
 }

 .section-menu .daftar-menu .daftar-detail img {
  height: auto;
  width: 300px;
 }

 .section-menu .daftar-menu .daftar-detail h4 {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--secondary);
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
 }

 .section-menu .daftar-menu .daftar-detail p {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--secondary);
  padding-bottom: 2.7rem;
 }

 .section-menu .daftar-menu .daftar-detail .burger-extra {
  margin-top: 3.8rem
 }

 /* ulasan section */
 .ulasan {
  padding: 8rem 5% 1.5rem;
  background-color: #faeeee;
  width: 100%;
  height: 100vh;
 }

 .ulasan h3, .galeri h3{
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 4rem;
  color: black;
  padding-bottom: 5rem;
 }

 .ulasan h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--bg);
  border-radius: 20px;
  margin: 10px auto 0;
 }

 .ulasan .ulasan-wrapp .scroll-wrapp {
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  align-items: center;
 }

.ulasan .ulasan-wrapp .scroll-wrapp .scroll-contain {
  margin-bottom: 3rem;
}

 .ulasan .ulasan-wrapp .scroll-wrapp .scroll-contain img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
 }

 .ulasan .ulasan-wrapp .scroll-wrapp .scroll-contain h5 {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 0 1rem;
 }

.ulasan .ulasan-wrapp .scroll-wrapp .scroll-contain i {
  display: inline-block;
  max-width: 50rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.ulasan .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: var(--bg);
}

.ulasan .swiper-button-prev, .ulasan .swiper-button-next {
  color: var(--bg);
  transition: 0.3s ease;
  height: 25px;
  width: 25px;
}

.ulasan .swiper-button-next:hover {
  color: var(--primary);
}

.ulasan .swiper-button-prev:hover {
  color: var(--primary);
}

/* galeri section */
.galeri {
  padding: 8rem 5% 1.5rem;
}

.galeri .galeri-wrapp .galeri-contain {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.galeri .galeri-wrapp .galeri-contain .galeri-list {
  width: calc(100% / 3 - 32px);
  overflow: hidden;
}

.galeri .galeri-wrapp .galeri-contain .galeri-list img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  transition: 0.3s ease;
}

.galeri .galeri-wrapp .galeri-contain .galeri-list:hover img {
  transform: scale(1.3);
}

/* kontak section */
.kontak {
  padding: 8rem 5% 1.5rem;
}

.kontak h3 {
  text-align: center;
}

.kontak .kontak-contain {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.kontak .kontak-contain .contain-1 .keterangan {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}

.kontak .kontak-contain .contain-1 .keterangan .ket-icon svg {
  padding-right: 0.8rem;
  height: 1.1rem;
  width: auto;
  color: black;
}

.kontak .kontak-contain .contain-1 .keterangan .ket-text {
  font-size: 0.8rem;
  font-weight: 300;
  color: black;
  max-width: 40rem;
}

.kontak .kontak-contain form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}

.kontak .kontak-contain form .form-input {
  padding: 1rem 2.5rem;
  background-color: #ffffffd0;
  font-size: 0.7rem;
  font-weight: 100;
  border: 1px solid #e6e4e4;
  border-radius: 6px;
  outline: none;
  text-align: left;
}

.kontak .kontak-contain form .form-input::placeholder {
  text-align: left;
}

.kontak .kontak-contain form textarea {
  padding: 1rem 9rem;
  background-color: #ffffffd0;
  font-size: 0.7rem;
  font-weight: 100;
}

.kontak .kontak-contain form .btn {
  background-color: #9e8316;
  color: #fff;
  padding: 0.8rem 2rem !important;
  font-weight: 200;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  display: inline-block;
  border-radius: 10px;
  margin-left: 0;
  transition: 0.5s ease;
}

.kontak .kontak-contain form .btn:hover {
  background-color: var(--secondary);
  color: #9e8316;
}

/* footer section */
footer {
  background-color: #363635;
  height: 18.5vh;
  margin-top: 2rem;
  text-align: center;
}

footer p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
  padding: 0.8rem 0;
}

footer .footer-icon {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer .footer-icon a {
  color: var(--secondary);
  transition: 0.3s ease;
}

footer .footer-icon a:hover {
  color: var(--primary);
}

 /* media query tablet*/

 @media (max-width: 900px) {
    html {
        font-size: 75%;
    }

    #overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      backdrop-filter: blur(5px);
      background: rgba(0,0,0,0.2);
      opacity: 0;
      pointer-events: none;
      transition: 0.3s;
      z-index: 8;
    }

    #overlay.active {
      opacity: 1;
      pointer-events: auto;
    }

    .navbar .nav-menu .close {
        display: inline-block;
        color: var(--bg);
        position: absolute;
        top:20px;
        right: 20px;
    }

    .navbar .nav-menu a, .close {
        color: var(--bg);
    }

    .navbar .nav-extra a {
        display: inline-block;
    }

    .navbar .nav-menu .menu {
        display: block;
        margin: 2rem auto;
        font-size: 1rem;
        padding-top: 1rem;
    }

    .navbar .nav-menu #branda {
      margin-top: 5rem;
    }

    .navbar .nav-menu {
        background-color: var(--secondary);
        position: absolute;
        top: 0;
        left: -250px;
        min-height: 100vh;
        min-width: 15rem;
    }

    .navbar .nav-menu.active {
      left: 0;
    }

    /* hero section */
    .hero {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .hero .hero-img img {
      width: 320px;
    }

    .hero .hero-grub {
      text-align: center;
      max-width: 80%;
      margin-bottom: 2rem;
    }

    .hero .hero-grub .grub-cta {
      justify-content: center;
    }

    /* about section */
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .about img {
      width: 200px;
      height: 200px;
    }

    /* menu section */

    .section-menu {
      height: 195vh;
      /* background-color: #575756; */
    }
    .section-menu .daftar-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .section-menu .daftar-menu .daftar-detail {
      margin: 0 5rem;
    }

    .section-menu .daftar-menu .daftar-detail img {
      width: 200px;
    }

    /* ulasan section */
    .ulasan .ulasan-wrapp .scroll-wrapp .scroll-contain img {
      height: 120px;
      width: 120px;
    }

    .ulasan .ulasan-wrapp .scroll-wrapp .scroll-contain i {
      max-width: 30rem;
    }

    .ulasan {
      background-color: #faeeee;
      height: 75vh;
    }

    /* galeri section */
    .galeri .galeri-wrapp .galeri-contain .galeri-list {
      width: calc(100% / 2 - 1rem);
      overflow: hidden;
     }

     /* kontak section */

     .kontak .kontak-contain form {
      width: 25rem;
     }

     .kontak .kontak-contain .contain-1 .keterangan .ket-text {
      max-width: 30rem;
     }

     /* footer section */
     footer {
      height: 8rem;
     }

    footer .footer-icon svg {
    height: auto;
    width: 20px;
    }
 }

 /*media query mobile  */
@media (max-width: 400px) {
  html {
        font-size: 55%;
    }

  .navbar .nav-menu .close {
        display: inline-block;
        color: var(--bg);
        position: absolute;
        top:10px;
        right: 10px;
  }

  .section-menu {
      height: 230vh;
      /* background-color: #575756; */
  }

  .ulasan {
      background-color: #faeeee;
      height: 60vh;
  }

   .galeri .galeri-wrapp .galeri-contain .galeri-list {
      width: calc(100% / 1 - 1rem);
      overflow: hidden;
  }

  .kontak .kontak-contain {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .kontak .kontak-contain form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  }

  footer {
    height: 11.5vh;
  }

  footer .footer-icon svg {
    height: auto;
    width: 18px;
  }

  .galeri {
  padding: 5rem 5% 1.5rem;
}

 .hero .hero-grub {
   padding-top: 1rem;
 }
}